.breadcrumbs
  background-color: $bgGrey
  padding: 8px 0

  &__list
    display: flex
    flex-direction: row

  &__el
    position: relative
    padding-right: 27px

    &:before,
    &:after
      position: absolute
      right: 12px
      content: ''
      width: 1px
      height: 6px
      background-color: #aaaeb2

    &:before
      top: 5px
      transform: rotate(-45deg)

    &:after
      bottom: 3px
      transform: rotate(45deg)

    &:last-child
      a
        color: $textBlack
        pointer-events: none

      &:after,
      &:before
        display: none
