//variables
$greyDark: #dcdee0
$greenLight: #32e05f
$textBlue: #0f74ce
$textWhite: #fff
$textBlack: #333436
$textGrey: #8b8e91
$bgBlue: #147dd9
$bgBlueLight: #228ae5
$bgGrey: #f5f6f7
$bgGreyLight: #fafbfc
$bgGreen: #41bb43
$bgGreenLight: #3dc23f
$bgRed: #e23430
$bgRedLight: #e2413d
$bgOrange: #ffae20



+font("opensans-light", opensans-light)
+font("opensans-regular", opensans-regular)
+font("opensans-bold", opensans-bold)
+font("opensans-semibold", opensans-semibold)

=h300
	font-family: "opensans-light", Helvetica, Arial, sans-serif

=h400
	font-family: "opensans-regular", Helvetica, Arial, sans-serif

=h600
	font-family: "opensans-semibold", Helvetica, Arial, sans-serif

=h700
	font-family: "opensans-bold", Helvetica, Arial, sans-serif

h1
	letter-spacing: -.4px
	font-size: 48px
	+h300

	&.is-fz-24
		font-size: 24px
		+h600

	&.is-fz-20
		font-size: 20px
		letter-spacing: -.4px
		+h600

h2
	letter-spacing: -.4px
	font-size: 20px
	+h600

	&.is-fz-18
		font-size: 18px
		letter-spacing: -.4px

	&.is-fz-16
		font-size: 16px

	&.is-fz-14
		font-size: 14px
		letter-spacing: -.3px

body
	min-width: 1110px
	font-size: 13px
	line-height: 1.4
	color: $textBlack
	+h300

// common blocks

a,
a:visited,
a:active,
a:focus
	color: $textBlue
	display: inline-flex
	text-decoration: none
	cursor: pointer
	transition: all .3s ease-in-out

img
	display: inline-flex

.atoms
	width: 1110px
	margin: 10px auto

.atom
	margin: 10px 0
	padding: 10px
	border: 1px solid #2c2c2c

.i-semibold
	+h600

.i-text-upper
	text-transform: uppercase

.i-text-green
	color: $greenLight

.i-text-right
	text-align: right

.i-ls-0
	letter-spacing: 0

.copyright
	color: $textBlack

.pre-footer

	&__title
		margin-bottom: 12px

	&__descr
		line-height: 20px

	&__articles
		display: flex
		letter-spacing: -.3px
		margin-top: 32px

		span
			padding-right: 6px

.items

	&__title
		margin-bottom: 12px
		display: inline-flex
		font-size: 20px
		color: $textBlack
		letter-spacing: -.3px
		+h600

.view-all
	margin: 19px 0 32px

.aside
	margin-left: 30px

	&__box
		margin-bottom: 27px

		h2
			margin-bottom: 10px

		.list

			&__el
				padding-left: 10px
				margin: 6px 0
				letter-spacing: .3px

				&:after
					left: 0

.banner
	margin: 30px 0
	
.logo
	
	&.is-content
		max-height: 45px
		margin-right: 15px

.list-title
	margin-bottom: 7px