//variables
$greyDark: #dcdee0
$greenLight: #32e05f
$textBlue: #0f74ce
$textWhite: #fff
$textBlack: #333436
$textGrey: #8b8e91
$bgBlue: #147dd9
$bgBlueLight: #228ae5
$bgGrey: #f5f6f7
$bgGreyLight: #fafbfc
$bgGreen: #41bb43
$bgGreenLight: #3dc23f
$bgRed: #e23430
$bgRedLight: #e2413d
$bgOrange: #ffae20



+font("opensans-light", opensans-light)
+font("opensans-regular", opensans-regular)
+font("opensans-bold", opensans-bold)
+font("opensans-semibold", opensans-semibold)

=h300
	font-family: "opensans-light", Helvetica, Arial, sans-serif

=h400
	font-family: "opensans-regular", Helvetica, Arial, sans-serif

=h600
	font-family: "opensans-semibold", Helvetica, Arial, sans-serif

=h700
	font-family: "opensans-bold", Helvetica, Arial, sans-serif

h1
	letter-spacing: -.4px
	font-size: 48px
	+h300

	&.is-fz-24
		font-size: 24px
		+h600

	&.is-fz-20
		font-size: 20px
		letter-spacing: -.4px
		+h600

h2
	letter-spacing: -.4px
	font-size: 20px
	+h600

	&.is-fz-18
		font-size: 18px
		letter-spacing: -.4px

	&.is-fz-16
		font-size: 16px

body
	font-size: 13px
	line-height: 1.4
	color: $textBlack
	+h300

// common blocks

a,
a:visited,
a:active,
a:focus
	color: $textBlue
	display: inline-flex
	text-decoration: none
	cursor: pointer
	transition: all .3s ease-in-out

.out
	width: 400px
	margin: 50px auto
	color: #55094f

	h1
		border-bottom: 2px solid #000

	ul
		margin-top: 30px

	li
		margin: 10px 0

	a
		font-size: 15px
		color: #55094f
		+h600

		&:hover
			text-decoration: underline
.atoms
	width: 1110px
	margin: 10px auto

.atom
	margin: 10px 0
	padding: 10px
	border: 1px solid #2c2c2c

.i-semibold
	+h600

.i-text-upper
	text-transform: uppercase

.i-text-green
	color: $greenLight

.i-text-right
	text-align: right

.copyright
	font-size: 13px
	color: $textBlack
	+h300


.articles
	letter-spacing: -.3px
	margin-top: 32px
	display: flex
	span
		padding-right: 6px

.info

	&__title
		margin-bottom: 12px
		letter-spacing: -.4px

	&__descr
		font-size: 13px
		line-height: 20px
		color: $textBlack
		+h300

.items

	&__title
		margin-bottom: 12px
		display: inline-flex
		font-size: 20px
		color: $textBlack
		letter-spacing: -.3px
		+h600

.view-all
	margin: 19px 0 32px

.aside
	margin-left: 30px

.banner
	margin: 35px 0
	
.logo
	
	&.is-content
		max-height: 45px
		margin-right: 15px