.content
  padding: 33px 0 84px

  &.is-information
    padding: 28px 0 125px

  &.is-inner
    padding: 33px 0 112px

    .content

      &__wrap
        justify-content: space-between

      &__left
        width: 70%

      &__right
        width: 30%

      &__text
        line-height: 18px

  &__wrap
    width: 100%
    display: flex
    flex-direction: row

  &__left,
  &__right
    width: 100%
    box-sizing: border-box

  &__left
    margin-right: 16px

  &__title
    display: flex
    align-items: center
    color: $textBlack

  &__text
    margin-bottom: 28px
    margin-top: 20px
    padding-right: 10px

    &.is-grey
      color: $textGrey
      font-size: 12px
