.content
  padding: 33px 0 90px

  &__wrap
    width: 100%
    display: flex
    flex-direction: row

  &__left,
  &__right
    width: 100%
    box-sizing: border-box

  &__left
    margin-right: 30px

  &__title
    display: flex
    color: $textBlack

  &__text
    margin-bottom: 32px
    display: flex

    &.is-grey
      color: $textGrey
      font-size: 12px
