.information
  color: $textBlack

  &__text
    padding-bottom: 28px
    font-size: 13px
    line-height: 20px
    +h300

  &__title
    padding-bottom: 10px
    font-size: 14px
    letter-spacing: -.3px
    +h600