.list

  &.is-horizontal
    display: flex
    flex-direction: row

    .list

      &__el

        &:first-child
          padding-left: 0

        &:first-child

          &:after
            display: none

      &__link
        +h400

        &:hover
          color: $bgBlueLight

  &.is-black

    .list

      &__link
        color: $textBlack
        letter-spacing: -.3px
        +h300

  &.is-unstyled

    .list

      &__el
        padding-left: 0

        &:after
          display: none

  &.is-border

    .list

      &__el
        padding-bottom: 20px
        margin-top: 20px
        display: flex
        flex-direction: column
        align-items: center
        border-bottom: 1px solid $greyDark

        .table
          margin-bottom: 20px

  &__el
    position: relative
    padding-left: 19px

    &:after
      position: absolute
      top: 8px
      left: 9px
      content: ''
      width: 2px
      height: 2px
      background-color: $textBlack

  &__text
    color: $textBlack
    font-size: 13px