.support
  position: relative
  display: flex
  align-items: center

  &:after
    position: absolute
    content: ''
    top: 12px
    right: -16px
    height: 17px
    border-right: 1px dotted #b0b5ba

  &__descr
    padding-right: 6px
    font-size: 13px
    color: #323336
    +h300

  &__phone
    margin-left: 4px
    display: flex
    align-items: center

  &__link,
  &__link:visited,
  &__link:hover
    margin-left: 10px
    color: $textBlack
    font-size: 28px
    letter-spacing: -.6px
    +h400