.table

  th
    padding-left: 20px
    text-align: left
    text-transform: uppercase
    background-color: $bgGrey
    color: $textBlack
    +h600

  tr
    height: 30px
    line-height: 30px
    &:nth-child(odd)
      background-color: $bgGreyLight

  td
    padding-left: 10px

  a
    font-size: 14px
    color: $textBlue
    +h400