
<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__left">
        <div class="copyright">
          <p>© 2017 BitDrivers. All rights reserved.</p>
        </div>
      </div>
      <div class="footer__right">
        <ul class="list is-horizontal is-black">
          <li class="list__el">
            <a href="#" class="list__link">Home</a>
          </li>
          <li class="list__el">
            <a href="#" class="list__link">Manufactures</a>
          </li>
          <li class="list__el">
            <a href="#" class="list__link">EULA</a>
          </li>
          <li class="list__el">
            <a href="#" class="list__link">Privacy Policy</a>
          </li>
          <li class="list__el">
            <a href="#" class="list__link">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom">
      <p class="footer__descr">
        Trademarks: Microsoft Windows logos are registered trademarks of
        Microsoft. BitDrivers.com is not affiliated with Microsoft nor
        claims direct affiliation. The information on this page is for
        informational purposes only.
      </p>
    </div>
  </div><!-- end container -->
</footer><!-- end footer -->