<header class="header">
  <div class="container">
    <div class="header__wrap">
      <div class="header__left">
        <div class="logo">
          <a href="#" class="logo__link">
            <img src="img/logo.png" class="logo__img" alt="logo"/>
          </a>
        </div><!-- end logo -->
      </div>
      <div class="header__right">
        <div class="support">
          <span class="support__descr">Need help? Call 24/7 Live Support:</span>
          <div class="support__phone">
            <i class="ico is-face"></i>
            <a class="support__link" href="tel:(723)242-5128">(723)242-5128</a>
          </div>
        </div>
        <div class="language-wrap">
          <ul class="language">
            <li class="language__el is-active" data-lang="en">
              <a class="language__link" href="#">
                <img class="language__img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAV0lEQVRIx2P4//8/Ay0xw6gFRFnAwDDlP6kYrJUQRrZg2bKb/0mhSbaAFMPBFhAHBrMPaB4HpAbR4PPByExFNMvJ/2kHoBYQ4xpyMP0sGPpBNFplDqQFAPxE+utlvEu1AAAAAElFTkSuQmCC" alt="en" />
              </a>
            </li>
            <li class="language__el" data-lang="de">
              <a class="language__link" href="#">
                <img class="language__img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAANklEQVRIie3NMQ0AMBDDQPPHVk4uhE6RXt8MXn2oJIvOFwGAiQoMAgQjFRgEHIxU4CcgWIFnF71AVopWPAqbAAAAAElFTkSuQmCC" alt="de" />
              </a>
            </li>
            <li class="language__el" data-lang="fr">
              <a class="language__link" href="#">
                <img class="language__img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAANUlEQVRIiWP4//8/Ay0xTQ0fRhYwhC75jwsTAu8dTXHiUQtGLRi1YNSCUQuGlgW0xKMWEMQARV2D+0evqEEAAAAASUVORK5CYII=" alt="fr" />
              </a>
            </li>
            <li class="language__el" data-lang="it">
              <a class="language__link" href="#">
                <img class="language__img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAANUlEQVRIiWP4//8/Ay0xTQ0fRhYwTHL7jwsTAoe1zXHiUQtGLRi1YNSCUQuGlgW0xKMWEMQA24VZi8qKqxsAAAAASUVORK5CYII=" alt="it" />
              </a>
            </li>
            <li class="language__el" data-lang="es">
              <a class="language__link" href="#">
                <img class="language__img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA/0lEQVRIiWP4//8/Ay0xTQ0fRhYc45b7Tws8agHxFvw/AqTQ8TEgPgHFx7DIE4NxWgA09N029v/X5vL/vzqH7/+7rWz//x+nlgVHGf5/3MXw//JEjv+z/Pn/zwzg/X+hn+3/x91UtODCKrn/R4u5/0+2lfq/taPt/5VNUf/PLpWhggVAw//sZ/h/utPp/ypfyf8Ftvr/F9bO/n9qVt3/Y622/3/vg6ihyAKQIZdmuv4/VMf/v8tF8v9kD+X/J8tk/p+f5v7/1x5KLQDiv4cZ/29bbvv/9DS+/+sLVf5vTdH4f66d//+W5Xb//xxiolIqohYePjl56Fsw9Gu0IW0BABduyy3NGP7OAAAAAElFTkSuQmCC" alt="es" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header><!-- end header -->