<header class="header">
  <div class="container">
    <div class="header__wrap">
      <div class="header__left">
        <div class="logo">
          <a href="#" class="logo__link">
            <img src="img/logo.png" class="logo__img" alt="logo"/>
          </a>
        </div><!-- end logo -->
      </div>
      <div class="header__right">
        <div class="support">
          <span class="support__descr">Need help? Call 24/7 Live Support:</span>
          <div class="support__phone">
            <i class="ico is-face"></i>
            <a class="support__link" href="tel:(723)242-5128">(723)242-5128</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header><!-- end header -->